.App{
    background-color: rgba(248,248,255,0.5)	;
    width:65%;
    min-width: 800px;
    left:17.5%;
    height:85%;
    top:7.5%;
    position: absolute;
    overflow: hidden;
}
.app_bg{
    position: absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    background: url('../../img/bg2.jpg') center 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.app_opa{
    
    background: url('../../img/bg2.jpg') center 0 no-repeat ;
    width:65%;
    min-width: 800px;
    left:17.5%;
    height:85%;
    top:7.5%;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    filter:blur(8px);
}
.left{
    width:30%;
    float:left;
    height:100%;
    overflow: auto;
    border-right: solid 1px cyan;
}
.right{
    height:100%;
    overflow: hidden;
}
.self_head{
    box-sizing: border-box;
    padding:10px 0px 10px 10px;
}
.self_search input{
    outline: none;
}
.self_group{
    overflow: auto;
}
.show{
    height:calc(100% - 100px);
}
.show_top{
    height:60px;
    border-bottom:solid 1px #585eaa;
}
.show_body{
    height:calc(100% - 60px);
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    overflow-y: scroll;
}
.send{
    height:100px;
    border-top:solid 1px #585eaa;
}
.send_login{
    height:100px;
    line-height: 100px;
    font-size: 18px;
    text-align: center;
}
.login_bg{
    position: absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    background: url('../../img/bg1.jpg') center 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login{
    width:400px;
    position: absolute;
    top:20%;
    right:20%;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
}
.login_draw .ant-drawer-content-wrapper{
   left:30%;
   width:500px;
   height:300px !important;
}
.login .ant-tabs-tab{
    margin:0px 70px;
    margin-top:10px;
    font-size: 18px;
    padding-top:0px;
    font-weight: bold;
}
.login_log{
    width:360px;
    margin:auto;
}
.login_log input{
    margin-bottom: 20px;
    height:35px;
}
.send_top{
    padding:10px 0px 0px 10px;
    margin-bottom:10px;
}
.send_input{
    height:45px;
    
}
.bqb_image{
    width:120px;
    margin:10px;
    border-radius: 3px;
    
}
.bqb_image:hover{
    width:125px;
    margin:5px;
    box-shadow: 5px 5px 10px #d3d7d4,-3px -3px 10px #d3d7d4;
}
.bqb_foot{
    text-align: center;
    padding-top:20px;
}
.mes_header{
    width:70px;
    padding:10px;
    
}
.mes_body{
   width:60%;
    margin-left:70px;
    padding-top:10px;
}
.mes_headtop{
    width:100%;
}
.mes_desc{ 
    display: inline-block;
    border-radius: 10px;
    padding: 12px 12px 0px 12px;  
    min-height: 40px;
    margin-top:5px;
}
.mes_desc p{
    margin-bottom: 10px;
}
.mes_desc img{
    margin-bottom: 10px;
}
.mes_left,.mes_right{
    margin-top:10px;
}
.mes_left,.mes_right{
    width:100%;
    overflow: hidden;
}
.mes_left .mes_desc{
    background-color:#FFDEAD;
}
.mes_right .mes_desc{
    background-color:#7bbfea;
}
.mes_left .mes_header{
    float:left;
}
.mes_right .mes_header,.mes_right .mes_body,.mes_right .mes_headtop,.mes_right .mes_desc,.mes_right .mes_name,.mes_right .mes_time{
    float:right;
}
.mes_img{
    width:100%;
    margin-bottom: 14px;
    
}
.search{
    width:250px;
    overflow: hidden;
    min-height:40px;
}
.search .ant-tabs-tab{
    margin:0px 30px;
    font-size: 14px;
    padding-top:0px;
    font-weight: bold;
}
.search_li{
    width:100%;
    overflow: hidden;
    border-bottom: 1px solid #d3d7d4;
    position: relative;
    height: 40px;
}
.search_li div{
    display: inline-block;
    height:40px;
    line-height: 40px;
    overflow: hidden;
    max-width: 50%;
    padding:0px 5px;
    text-overflow: ellipsis;
    white-space:nowrap; 
}
.search_li img{
    width:30px;
    border-radius: 50%;
}
.search_li button{
    padding: 0px 10px;
    height:30px;
    position: absolute;
    right:5%;
    top:5px;
}
.create{
    overflow: hidden;
    width:250px;
    padding-top:10px;
}
.create input{
    height:40px;
}
.create button{
    margin-top:10px;
}
.self_group .ant-list-item-meta-description{
    min-height:32px;
    line-height: 32px;
    padding-right: 5px;
}
.self_group .list_li:hover{
    background-color:#AFEEEE; 
}
.self_group .list_li:focus{
    background-color:#7bbfea; 
}
.list_li{
    padding:5px 0px;
}
.list_img{
    width:50px;
    float:left;
    padding-left: 10px;
}
.list_name{
    overflow: hidden;
    height:40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-left:10px;
}
.list_tip{
    width:100%;
    line-height:60px;
    text-align: center;
    height:60px;
    overflow: hidden;
}
.clearfix{
    width:330px;
    height:380px;
}
.ant-modal-wrap {
    z-index: 10000 ;
}
.head_title{
    height:40px;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
}
.head_pass input{
    margin-bottom:20px;

}
.group_name{
    width:400px;
    height: 60px;
    line-height: 60px;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 20px;
    float: left;
}
.inf_bu{
    width:100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: right;
    font-size: 1.6em;
}
.inf_li{
    overflow: hidden;
    padding:5px 0px;
}
.gr_list{
    max-height:calc(100vh - 250px);
    overflow: auto;
}
.inf_img{
    width:30px;
    float:left;
}
.inf_name{
    overflow: hidden;
    height:30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left:10px;
}
.inf_out{
    width:120px;
}
.group_title{
    margin:10px 0px;
    font-size: 1.1em;
    font-weight: bold;
}